<% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/artist.css">
<% include ../partials/navbar%>
<form class="form-horizontal" action="/artist/dj/new" method="POST">
<fieldset>

<!-- Form Name -->
<legend>DJ</legend>

<!-- Name-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Your Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- DJ stage name-->
<div class="form-group">
  <label class="col-md-4 control-label" for="djname">Stage Name</label>  
  <div class="col-md-4">
  <input id="djname" name="djname" type="text" placeholder="Stage Name" class="form-control input-md">
    
  </div>
</div>

<!-- Select year of start -->
<div class="form-group">
  <label class="col-md-4 control-label" for="year">Year of start</label>
  <div class="col-md-2">
    <select id="year" name="year" class="form-control">
        <option selected disabled>When did you start?</option>
        <% for (i = 1900; i <= 2016; i++){ %>
                <option value=<%= i %>><%= i %></option>
        <%   } %>
    </select>
  </div>
</div>

<!-- Select experience -->
<div class="form-group">
  <label class="col-md-4 control-label" for="exp">Experience</label>
  <div class="col-md-2">
    <select id="exp" name="exp" class="form-control">
        <option selected disabled>Stage Performances</option>
        <% for (i = 1; i <= 20; i++){ %>
                <option value="<%= i %>"><%= i %></option>
        <%   } %>
        <option value="21+">21+</option>
      <!--<option value="1">1-5</option>-->
      <!--<option value="2">6-10</option>-->
      <!--<option value="3">11-15</option>-->
      <!--<option value="4">15-20</option>-->
    </select>
  </div>
</div>

<!-- Tag line-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tag">Tag line</label>  
  <div class="col-md-5">
  <input id="tag" name="tag" type="text" placeholder="Tag" class="form-control input-md">
    
  </div>
</div>

<!-- Genres of DJ -->
<div class="form-group">
  <label class="col-md-4 control-label" for="genre">Genre</label>
  <div class="col-md-4">
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Breaks" name="genre[]">Breaks
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Chill Out" name="genre[]">Chill Out 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Drum &amp; Bass" name="genre[]">Drum &amp; Bass
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Dubstep" name="genre[]">Dubstep 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Electro House" name="genre[]">Electro House 
        </label>
      </div>
    </div>
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Electronica" name="genre[]">Electronica 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Funk / R&amp;B" name="genre[]">Funk / R&amp;B 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Hard Dance" name="genre[]">Hard Dance 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Hardcore / Hard Techno" name="genre[]">Hardcore / Hard Techno 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Hip-Hop" name="genre[]">Hip-Hop 
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="House" name="genre[]">House 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Indie Dance / Nu Disco" name="genre[]">Indie Dance / Nu Disco 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Minimal" name="genre[]">Minimal 
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Open Format" name="genre[]">Open Format 
          </label>
        </div>
        <div class="checkbox">
          <label> 
            <input type="checkbox" value="Progressive House" name="genre[]">Progressive House 
          </label>
        </div>
      </div>
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Psy-Trance" name="genre[]">Psy-Trance 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Reggae / Dub" name="genre[]">Reggae / Dub 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Tech House" name="genre[]">Tech House 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Trance" name="genre[]">Trance 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Trap" name="genre[]">Trap 
        </label>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Pricing of DJ-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price">Pricing per hour</label>
  <div class="col-md-2">
    <div class="input-group">
      <span class="input-group-addon">Rs.</span>
      <input id="price" name="price" class="form-control" placeholder="INR" type="text">
    </div>
    <p class="help-block">help</p>
  </div>
</div>

<!-- Description about DJ -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="description" name="desc">More about the DJ</textarea>
  </div>
</div>

<!-- Link-->
<div class="form-group">
  <label class="col-md-4 control-label" for="link">Website/Blog</label>  
  <div class="col-md-4">
  <input id="link" name="link" type="text" placeholder="Your link" class="form-control input-md">
  </div>
</div>
<!--facebook-->
<div class="form-group">
  <label class="col-md-4 control-label" for="fb-link">Facbook Page</label>  
  <div class="col-md-4">
  <input id="fb-link" name="fb_link" type="text" placeholder="Link of facebook page" class="form-control input-md">
  </div>
</div>
<!--soundcloud-->
<div class="form-group">
  <label class="col-md-4 control-label" for="sc-link">SoundCloud</label>  
  <div class="col-md-4">
  <input id="sc-link" name="sc_link" type="text" placeholder="Link of SoundCloud" class="form-control input-md">
  </div>
</div>
<!--youtube-->
<div class="form-group">
  <label class="col-md-4 control-label" for="yt-link">youtube channel</label>  
  <div class="col-md-4">
  <input id="yt-link" name="yt_link" type="text" placeholder="Link of youtube channel" class="form-control input-md">
  </div>
</div>
<!--file uploader-->
<div class="form-group">
  <label class="col-md-4 control-label" for="imageuploader">Upload Your images</label>  
<%include ../partials/fileupload.ejs%>
</div>
<!-- Submit -->
<div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-5">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

<%include ../partials/script.ejs%>
<%include ../partials/footer.ejs%>